filelock==3.14.0
fsspec==2024.5.0
numpy==1.24.4
requests==2.31.0
geopy==2.3.0
argparse==1.4.0
mplcursors==0.5.0
pandas==1.5.3
pyyaml==6.0
geopy==2.3.0
argparse==1.4.0
requests==2.31.0
cma==3.2.2
plotly==5.17.0
